@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
$text_color_light: #FFFFFF;
$h2_font-size: 36px;
$h2_letter_space: 20px;
$backgroundList: 
   'url(./img//Back_Case/безцветный.jpg)',
   'url(./img//Back_Case/дом-из-дерева-белого-цвета.jpg)',
   'url(./img//Back_Case/дом-из-темного-бруса.jpg)',
   'url(./img//Back_Case/коричневый.jpg',
   'url(./img//Back_Case/красный.jpg)',
   'url(./img//Back_Case/серый.jpg)';

@mixin light_h2 {
   color: $text_color_light;
   font-size: $h2_font-size;
   letter-spacing: $h2_letter_space;
}


* {
   margin: 0;
   padding: 0;
}
body{
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
}
 header{
   padding: 1rem 1rem 4rem ;
   background: rgba(3, 3, 3, 0.7);
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   color: $text_color_light;
   display: flex;
   justify-content: space-between;
   align-items: center;
   .logo{
      text-transform: uppercase;
      font-family: 'Pacifico', cursive;
      font-size: 36px;
   }
   .logo span{
      color: rgba(87, 200, 85, 1);
   }
   .logo.active{
      display: none;
      
   }
   ul{
      padding-right: 2%;
      width: 30%;
      list-style: none;
      display: flex;
      justify-content: space-between;
      li a{
         text-decoration: none;
         color: $text_color_light;
         text-transform: uppercase;
      }
      li a:hover{
         color: #57C855;
         text-decoration: underline;
      }
   }
   .menuToggle{  
      color: #fff;
      padding: 10px 15px;
      cursor: pointer;
      display: none;
      width: 25px;
      height: 25px;
   }
   .icon {
      width: 25px;
      height: 25px;
      cursor: pointer;
   }
   
   .hamburger {
      width: 40px;
      height: 4px;
      transform: translate(-50%, -50%);
      background: #fff;
      transition: 0.5s;
      display: inline-block;
      // margin-left: 12px;
      position: absolute;
      right: 2%;
      top: 5%;
   }
   
   .hamburger:before,
   .hamburger:after {
      content: "";
      width: 40px;
      height: 4px;
      position: absolute;
      background: #fff;
      transition: 0.5s;
   }
   
   .hamburger:before {
      top: -16px;
   }
   
   .hamburger:after {
      top: 16px;
   }
   
   .icon.active .hamburger {
      background: rgba(0, 0, 0, 0);
   }
   
   .icon.active .hamburger:before {
      top: 0;
      transform: rotate(45deg);
   }
   
   .icon.active .hamburger:after {
      top: 0;
      transform: rotate(135deg);
   }
 }
 main{
    width: 100%;
    .first_screen{
       background: linear-gradient(0deg, rgba(57, 87, 52, 0.32),rgba(57, 87, 52, 0.32)), 
                   url(./img/Back_Case/case6.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      h2, p{
         color: rgba(255, 255, 255, 0.72);
         margin-left: 10%;
         width: 40%;
      }
      h2{
         padding-top: 30rem;
         @include light_h2();
      }
      p{
         padding: 3rem 0;
         line-height: 24px;
         letter-spacing: 5px;
      }
    }
    .form_section {
       padding:1rem 0 3rem;
       background: rgba(3, 3, 3, 0.7);
       display: flex;
       flex-direction: column;
       align-items: center;
      h2 {
         padding: 2rem 0;
         @include light_h2();
         font-weight: 400;
      }
      form{
         width: 70%;
         display: flex;
         flex-direction: column;
         align-items: center;
         .inputs{
            width: 100%;
            display: flex;
            justify-content: space-around;
            .single_input_block{
               display: flex;
               flex-direction: column;
               input{
                  width: 286px;
                  height: 46px;
                  border-radius: 20px;
                  outline: none;
                  border: none;
                  padding-left: 15px;
               }
               .error{
                  background: url(./img/icon-error.svg) white no-repeat 95% center;
               }
               span{
                  visibility: hidden;
                  padding: 0.5rem 0 0 1rem;
                  color: hsl(0, 100%, 74%);
               }
            }
         }
         
      }
      button{
         margin-top: 2rem;
         width: 286px;
         height: 46px;
         background: #395734;
         border-radius: 50px;
         border: none;
         font-size: 24px;
         color: $text_color_light;
         letter-spacing: 5px;
         outline: none;
      }
      button:hover{
         background: #55814d;
         cursor: pointer;
      }
      button:active {
         transform: translateY(-1px);
         box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     }
    }
    .our_cases{
       background: rgba(57, 87, 52, 0.32);
       display: flex;
       flex-direction: column;
       align-items: center;
       h2{
          @include light_h2();
          padding: 3rem 0;
       }
       .__case_galery{
          min-width: 1235px;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-auto-rows: 350px;
          grid-column-gap: 160px;
          grid-row-gap: 50px;
          .__case{
            border-radius: 25px;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
            overflow: hidden;
            img{
               height: 400px;
               width: 400px;
               object-fit: cover;
            }
            span{
               padding-bottom: 20px;
               color: $text_color_light;
               letter-spacing: 2px;
            }
          }
          .__case:hover{
             filter: blur(8px);
             cursor: pointer;
          }
       }
    }
    .our_services{
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 81.25%), #BFC9BD;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h2{
         @include light_h2();
         padding: 5rem 0;
      }
      .__services{
         min-width: 1235px;
         display: flex;
         justify-content: space-between;
         .order_btn{
            margin-top: 40px;
            width: 300px;
            height: 45px;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
            border-radius: 25px;
            background: #57C855;
            outline: none;
            a{
               display: inline-block;
               width: 100%;
               color:#FFFFFF;
               font-size: 18px;
               letter-spacing: 5px;
               text-decoration: none;
            }
            border: none;
         }
         .order_btn:hover, .__services_card:hover{
            cursor: pointer;
         }
         .order_btn:hover{
            background: #458644;
         }
         .order_btn:active {
            transform: translateY(-1px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        }
         
         .grinding{
            background: url(../src/img/шлиф.png), white;
         }
         .painting{
            background: url(../src/img/7b3d652b67aa0aec24451e98778ec63e.png), white;
         }
         .warm_seam{
            background: url(../src/img/шов.png), white;
         }
         .__services_card{
            width: 300px;
            height: 445px;
            background-repeat: no-repeat;
            background-position: center top;
            background-size: contain;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            text-align: center;
            align-items: center;
            .__text_block{
               margin-bottom: 30px;
               padding-bottom: 15px;
               width: 80%;
               border:1px solid black;
               border-radius: 15px;
               h3{
                  padding: 18px 0 23px;
                  letter-spacing: 3px;
               }
            }
            .active{
               width: 100%;
               max-width: 500px;
               
               /*  Центрируем и задаем z-index */
               position: fixed;
               top: 50%;
               left: 50%;
               transform: translate(-50%, -50%);
               z-index: 30; /* Должен быть выше чем у подложки*/
               
               /*  Побочные стили   */
               box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
               text-align: center;
               padding: 30px;
               border-radius: 3px;
               background-color: #fff;
               transition: 0.3s all;
            }
         }
      }
    }
    .reviews{
      background: linear-gradient(180deg, #FFFFFF 9.38%, rgba(255, 255, 255, 0) 76.56%), 
                  linear-gradient(180deg, rgba(255, 255, 255, 0) 31.25%, #FFFFFF 87.5%), 
                  url(./img/Back_Case/case5.jpg)
                  no-repeat;
      background-size: cover;
       display: flex;
       flex-direction: column;
       align-items: center;
       h2{
         padding-top: 5rem;
         font-size: $h2_font-size;
         letter-spacing: $h2_letter_space;
       }
       .reviews__wrapper{
         display: flex;
         justify-content: space-around;
         padding: 5% 1% 0 1%;
         .second_customer{
            margin-top: 5%;
         }
         .third_customer{
            margin-top: 10%;
         }
         .review__card{
            margin-right: 20px;
            box-shadow: 10px 10px 10px rgba(24, 132, 193, 0.48);
            ul{
               list-style-type: none;
               li{
                  padding-bottom: 10px;
               }
               li:last-child {
                  padding-bottom: unset;
                  color: #C4C4C4;
               }
            }
            padding: 40px;
            background: linear-gradient(180deg, #60936C 20.83%, rgba(24, 132, 193, 0.48) 82.81%);
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            max-width: 350px;
            height: 350px;
            .card__header{
               display: flex;
               justify-content: space-around;
               align-items: center;
               img{
                  border-radius: 50%;
               }
            }
            .rating ul{
               padding-top: 10%;
               display: flex;
               padding-left: 10%;
               li{
                  padding-right: 10px;
                  padding-bottom: unset;
                  ion-icon{
                     font-size: 24px;
                     color: rgba(243, 202, 57, 1);
                  }
               }
            }
            .review__text{
               text-indent: 1rem;
               letter-spacing: 0.05em;
               line-height: 24px;
               padding-top: 15%;
            }
         }
         .review__card:last-child{
            margin-right: unset;
         }
       }
    }
    .commercial_block{
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 23.44%, #FFFFFF 98.96%), linear-gradient(180deg, #FFFFFF 11.46%, rgba(255, 255, 255, 0) 63.54%), url(./img/Back_Case/case4.jpg);
      background-size: cover;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h2{
         padding: 5rem 0;
         width: 1235px;
         color: black;
         font-size: $h2_font-size;
         letter-spacing: $h2_letter_space;
         padding-bottom: 20px;
      }
      .topics_container{
         width: 1235px;
         display: grid;
         grid-column-gap: 75px;
         min-width: 1235px;
         grid-template-areas: "newHouse sell ."
                              ".      .    renew"
                              "wood    old   ." ;
      }
      .topic{
         height: 145px;
         border-radius: 10px;
         border: 2px solid #000000;
         box-sizing: border-box;
         h3{
            padding: 23px 0 23px 20px ;
            font-size: 18px;
         }
         p{
            padding-left: 20px;
         }
      }
      .topic::before{
         content:' ';
         border: 2px solid;
         width: 26px;
         height: 26px;
         border-radius:50%;
         position: absolute;
         margin-left:-15px;
         margin-top: 45px;
         background: #000 url(./img/done.png);
         background-repeat: no-repeat;
         background-position: center;
      }
      .__renew{
         grid-area: renew;
         h3{
            width: 70%;
            margin: 0 auto;
            padding-top: 15%;
         }
      }
      .__old{
         grid-area: old;
      }
      .__wood{
         grid-area: wood;
      }
      .__sell{
         grid-area: sell;
      }
      .__new{
         grid-area: newHouse;
      }
    }
    .faq{
       margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      background: linear-gradient(180deg, #FFFFFF 15.62%, #BFC9BD 100%);
      // transform: translate3d(0px, 30px, 0);
      // opacity: 0;
      h2{
         padding-top: 10rem;
         color: black;
         font-size: $h2_font-size;
         letter-spacing: $h2_letter_space;
         padding-bottom: 30px;
      }
      ul{
         list-style-type: none;
         width: 50%;
         padding-bottom: 100px;
         li{
            padding: 10px 0 10px;
            .text_block{
               display: flex;
               justify-content: space-between;
               align-items: center;
               background: #fff;
               padding: 20px ;
               border-radius: 25px;
               border: 0.5px solid rgba(0, 0, 0, 0.068);
               box-sizing: border-box;
               box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
               img{
                  margin-left: 10px;
                  display: inline-block;
                  width: 30px;
               }
            }
            .text_block:hover{
               cursor: pointer;
            }
            p{
               margin-top: 10px;
               padding: 20px;
               border-radius: 25px;
               border-bottom: 0.5px solid rgba(0, 0, 0, 0.068);
               background: #71a3614d;
            } 
         }
      }
     
    }
    .about{
       display: flex;
       flex-direction: column;
       align-items: center;
       background: linear-gradient(180deg, #BFC9BD 0%, rgba(255, 255, 255, 0) 100%), url(./img/pexels-eva-elijas-5940999.jpg);
       background-size: cover;
       h2{
          @include light_h2();
          padding: 5rem 0;
       }
       p{
          text-indent: 2rem;
          width: 60%;
          color: #fafafa;
          line-height: 24px;
          letter-spacing: 3px;
          padding-bottom: 5rem;
      }
    }
 }
 footer{
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-around;
    .contacts{
      padding-top: 40px;
      h3{
         font-size: 18px;
         color: #FFFFFF;
         letter-spacing: 5px;
         padding-bottom: 20px;
      }
      span{
         display: block;
         color: #FFFFFF;
         letter-spacing: 2px;
         line-height: 50px;
      }
      .social{
         padding: 40px 0;
         a{
            padding-right: 15px;
         }
         a:last-child img{
            border-radius: 10px;
         }
         img{
            -webkit-transition: all .3s ease-in-out;
            -moz-transition: all .3s ease-in-out;
            -ms-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
         }
         img:hover{
            transform: scale(1.1);
         }
      }
    }
    .location{
      padding-top: 40px;
   }
 }
 .autor{
    display: block;
   background: rgba(0, 0, 0, 0.75);
   width: 100%;
   text-align: center;
   color: #ffffff41;
   padding-bottom: 5px;
   letter-spacing: 2px;
   font-size: 12px;
   a{
      color: #ffffff41;;
   }
 }

 /* Стили для подложки */
.overlay {
   
   /* Скрываем подложку  */
   opacity: 0;
   visibility: hidden;
   
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, .5);
   z-index: 20;
   transition: .3s all;
}
/* Стили для модальных окон */
.modal {
   
   /* Скрываем окна  */
   opacity: 0;
   visibility: hidden;
   
   
   /*  Установаем ширину окна  */
   width: 100%;
   max-width: 80%;
   
   /*  Центрируем и задаем z-index */
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 30; /* Должен быть выше чем у подложки*/
   
   /*  Побочные стили   */
   box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2); 
   text-align: center;
   padding: 30px;
   border-radius: 3px;
   background-color: #fff;
   transition: 0.3s all;
   img{
      float: left;
      max-height: 60vh;
   }
   .modal__title{
      padding: 5rem 0 0 30rem;
      text-align: start;
      text-indent: 2rem;
      font-size: 18px;
      line-height: 24px;
      font-family: 'Roboto', sans-serif;
   }
}
/* Стили для кнопки закрытия */
.modal__cross {
   width: 15px;
   height: 15px;
   position: absolute;
   top: 20px;
   right: 20px;
   fill: #444;
   cursor: pointer;
}
.modal.active,
.overlay.active{
   opacity: 1;
   visibility: visible;
}

// Адаптивная верстка
@media (max-width: 1350px) {
   header{
      ul{
         width: 40%;
      }
   }
   main{
      .form_section{
         form{
            width: 90%;
         }
      }
   }
}
@media (max-width: 1275px){
   main{
      .our_cases{
         .__case_galery{
            min-width: unset;
            width:90%;
            grid-column-gap: 6%;
            .__case{
               img{
                  object-fit: cover;
               }
            }
         }
      }
      .our_services{
         .__services{
            min-width: unset;
            width: 90%;
         }
      }
      .commercial_block{
         h2{
            width: unset;
         }
         .topics_container{
            width: 90%;
            min-width: unset;
            grid-column-gap: 45px;
         }
      }
      .faq{
         ul{
            width: 80%;
         }
      }
      .about{
         p{
            width: 80%;
         }
      }
   }
}
@media (max-width:1025px) {
   header{
      ul{
         width: 50%;
      }
   }
   main {
      .form_section {
         form {
            .inputs{ 
               .single_input_block input{
                  width: unset;
               }
            }
         }
      }
      .our_services{
         h2{
            padding: 3rem 0;
         }
         .__services{
            flex-direction: column;
            .order_btn{
               margin-top: 1.5rem;
               width: 100%;
               margin-bottom: 1.5rem;
            }
            .__service_container{
               .__services_card{
                  background-size: 150px;
                  width: unset;
                  height: unset;
                  .__text_block{
                     margin-top: 20%;
                  }
               }
            }
         }
      }
   }
   .modal .modal__title {
      padding: unset;
   }
}
@media (max-width: 810px) {
   header{
      .logo{
         position:absolute;
         top: 3%;
         left: 5%;
      }
      .menuToggle{
         display: block;
     }
     .menu{
         display: none;
         position: absolute;
         padding: 1rem;
         top: 1%;
     }
   }
   main{
      .first_screen{
         h2{
            padding-top: 15rem;
         }
         p{
            width: 60%;
         }
      }
      .form_section {
         form {
            .inputs{ 
               .single_input_block input{
                  max-width: 80%;
               }
            }
         }
         button{
            margin-top: unset;
         }
      }
      .our_cases .__case_galery{
         grid-template-columns: repeat(2, 1fr);
         grid-column-gap: auto;
         .__case img{
            object-fit: fill;
            width: unset;
         }
      }
      .reviews{
         .reviews__wrapper{
            flex-direction: column;
            .review__card{
               margin-right: unset;
               max-width: 280px;
               padding: 1rem;
            }
            .second_customer, .third_customer{
               margin-top: 5%;
            }
         }
      }
      .commercial_block{
         h2{
            padding: 2rem 0 2rem 1rem;
         }
         .topic{
            height: unset;
            padding-bottom: 10px;
         }
      }
      .faq{
         h2{
            text-align: center;
         }
         ul{
            padding-bottom: 3rem;
         }
      }
   }
   footer{
      flex-direction: column;
      align-items: center;
      .contacts{
         width: 90%;
         padding-bottom: 0;
         .social{
            text-align: center;
         }
      }
      .location{
         padding-top: 0;
         margin-bottom: 20px;
      }
   }
   .modal {
      img{
      float: unset;
      width: 50%;
      }
      .modal__title{
         padding: unset;
         font-size: 14px;
         line-height: 20px;
      }
   }
}

@media (max-width: 600px) {
   header{
      .logo{
         font-size: 24px;
      }
   }
   main{
      h2{
         text-align: center;
         font-size: 24px;
         letter-spacing: 4px;
      }
      .first_screen{
         h2{
            padding-top: 5rem;
         }
         p{
            width: 90%;
            margin: 0 auto;
            letter-spacing: 2px;
         }
      }
      .form_section{
         padding: 1rem 0 2rem;
         h2{
            text-align: center;
            font-size: 24px;
            letter-spacing: 4px;
         }
         form .inputs{
            width: 90%;
            flex-direction: column;
            align-items: center;
            .single_input_block {
               width: 100%;
               input{
                  max-width: unset;
                  width: 100%
               }
               span{
                  padding: 0.5rem 0 0.5rem 1rem;
               }
            }
         }
      }
      .our_cases{
         h2{
            width: 95%;
            font-size: 24px; 
            letter-spacing: 4px;
            padding: 2rem 0;
         }
         .__case_galery{
            grid-template-columns: repeat(1, 1fr);
            #case5{
               display: none;
            }
            #case6{
               display: none;
            }
         }
      }
      .our_services{
         h2{
            width: 95%;
           font-size: 24px; 
           letter-spacing: 4px;
           padding: 2rem 0;
         }
         .__services .__service_container .__services_card .__text_block{
            margin-top: 40%;
         }
      }
      .commercial_block{
         h2{
           width: 95%;
           font-size: 24px; 
           letter-spacing: 4px;
           padding: 2rem 0;
         }
         .topics_container{
            grid-template-areas: 
            "newHouse sell "
            "renew renew"
            "wood old ";
            grid-gap: 15px;
         }
      }
      .faq{
         h2{
            width: 95%;
            font-size: 24px; 
            letter-spacing: 4px;
            padding: 2rem 0; 
         }
         ul{
            width: 90%;
         }
      }
      .about{
         h2{
            width: 95%;
            font-size: 24px; 
            letter-spacing: 4px;
            padding: 2rem 0; 
         }
         p{
            width: 90%;
            margin: 0 auto;
            letter-spacing: 2px;
         }
      }
   }
   footer{
      .location{
         display: none;
      }
   }
}